@font-face {
  font-family: iransans;
  src: url("../font/AIranianSans.eot");
  src: url("../font/AIranianSans.ttf") format("ttf"),
    url("../font/AIranianSans.woff") format("woff"),
    url("../font/AIranianSans.woff2") format("woff2");
}
@font-face {
  font-family: vazir;
  src: url("../font/Vazir.eot");
  src: url("../font/Vazir.ttf") format("ttf"),
    url("../font/Vazir.woff") format("woff"),
    url("../font/Vazir.woff2") format("woff2");
}

body {
  font-family: vazir !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: iransans !important;
}
